/**
 * Tabs
 */
#at-import-page-wrap .at-import-tabs-nav { margin-bottom: 15px; }
#at-import-page-wrap .at-import-tabs-nav .nav-tab{height:25px;}
#at-import-page-wrap .at-import-tabs-nav .nav-tab-active { color: #d10d3e; }
#at-import-page-wrap .at-import-tabs-content .at-import-tab { display: none; }
#at-import-page-wrap .at-import-tabs-content .at-import-tab.active { display: block; }

/**
 * Forms
 */
#at-import-page-wrap .form-group { display: block; margin-bottom: 10px; }
#at-import-page-wrap .form-group > label { display: inline-block; width: 250px !important; }
#at-import-page-wrap .form-group > .hint { margin-left: 250px; font-soze: 11px; max-width: 400px; }


.success{background:#F1F7E7;}
.success td{color:#7AB317;}
.error{background:#ECB8B8;}
.error td{color:#c01313;}
.no-padding-top{padding-top:0!important;}
.btn-at { background: #d10d3e; border: none; color: #fff; padding: 5px 15px; border-radius: 3px; transition: box-shadow 0.2s; }
.btn-at:hover, .btn-at:focus { background: #bc0b37; cursor: pointer; }
.btn-at:focus, .btn-at:active { outline:none; box-shadow: 0 2px 4px rgba(0,0,0,0.15) inset; }
.at_import_table { border-top:1px solid #eee; border-left:1px solid #eee;  margin-bottom: 30px; width:100%;}
.at_import_table tr td, .at_import_table tr th { padding:5px; border-right: 1px solid #eee; border-bottom:1px solid #eee;text-align: left; }
.ajax-loader{display:none;background: rgba(10, 10, 10, 0.75);position: fixed;top: 0;bottom: 0;left: -20px;right: 0;z-index: 999;text-align: center;vertical-align: middle;padding-top: 50vh;}
.ajax-loader .inner{margin-top:-90px;}
.ajax-loader p{color:#fff;font-weight:700;font-size:24px;text-shadow:0 1px 2px rgba(0,0,0,0.5);}
.ajax-loader.active{display: table-cell;}
.ajax-loader .spinner{display:block; float:none; visibility: initial;}
.ajax-loader .progress { background: rgba(0,0,0,0.3); padding: 5px; max-width: 300px; margin: 0 auto; text-align: center; font-size: 12px; }
.ajax-loader .progress .progress-bar { background: #d10d3e; color:#fff;}
.bulkactions {overflow:visible!important;}
.bulkactions .ui-customSelect{width:200px;display: inline-block;overflow:visible;}
.bulkactions .ui-customSelect .ui-customSelect-dropdown{z-index:99}
.info{line-height: 19px; padding: 11px 15px; font-size: 14px; text-align: left; margin: 25px 20px 0 2px; background-color: #fff; border-left: 4px solid #00a1ff; -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);}
.at-label{background:#fff;padding:3px 5px;font-size:10px;margin-left:10px;border-radius:5px;display:inline;}
.at-label-red{background:#c01313;color:#fff;}
.at-label-blue{background:#337ab7;color:#fff;}
.at-label-yellow{background:#FFBA00;color:#fff;}