/* _content.scss */

// CARD GRID
.card-deck .card { margin-bottom: 0; }
@include media-breakpoint-only(xs) {
	.card-deck .card { flex: 0 0 100; }
	.card-deck .card:nth-child(1n+2) { margin-top: 30px; }
}
@include media-breakpoint-only(sm) {
	.card-deck .card { flex: 0 0 calc(50% - 30px); }
	.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
}
@include media-breakpoint-only(md) {
	.card-deck .card { flex: 0 0 calc(33.33% - 30px); }
	.card-deck .card:nth-child(1n+4) { margin-top: 30px; }
}
@include media-breakpoint-only(lg) {
	.card-deck .card { flex: 0 0 calc(33.33% - 30px); }
	.card-deck .card:nth-child(1n+4) { margin-top: 30px; }
}
@include media-breakpoint-only(xl) {
	.card-deck .card { flex: 0 0 calc(25% - 30px); }
	.card-deck .card:nth-child(1n+5) { margin-top: 30px; }
}

// CARD GRID
.col-md-8 > #content {
	@include media-breakpoint-only(xs) {
		.card-deck .card { flex: 0 0 100; }
	}
	@include media-breakpoint-only(sm) {
		.card-deck .card { flex: 0 0 calc(50% - 30px); }
		.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
	}
	@include media-breakpoint-only(md) {
		.card-deck .card { flex: 0 0 calc(50% - 30px); }
		.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
	}
	@include media-breakpoint-only(lg) {
		.card-deck .card { flex: 0 0 calc(50% - 30px); }
		.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
	}
	@include media-breakpoint-only(xl) {
		.card-deck .card { flex: 0 0 calc(50% - 30px); }
		.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
	}
}

// CARD GRID
.col-md-9 > #content {
	@include media-breakpoint-only(xs) {
		.card-deck .card { flex: 0 0 100; }
	}
	@include media-breakpoint-only(sm) {
		.card-deck .card { flex: 0 0 calc(50% - 30px); }
		.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
	}
	@include media-breakpoint-only(md) {
		.card-deck .card { flex: 0 0 calc(50% - 30px); }
		.card-deck .card:nth-child(1n+3) { margin-top: 30px; }
	}
	@include media-breakpoint-only(lg) {
		.card-deck .card { flex: 0 0 calc(33.33% - 30px); }
		.card-deck .card:nth-child(1n+4) { margin-top: 30px; }
	}
	@include media-breakpoint-only(xl) {
		.card-deck .card { flex: 0 0 calc(33.33% - 30px); }
		.card-deck .card:nth-child(1n+4) { margin-top: 30px; }
	}
}

.table-responsive {
	table {
		tr {
			th {
				white-space: nowrap;
			}
		}
	}
}