/* _header.scss */

#header {
	padding: 2rem 0;
	.header-brand {
		display: inline-block;
		img { max-width: 100%; }
	}
	.header-search {
		select { max-width: 240px; border-radius: 0; }
		.form-control { box-shadow: none !important; border-color: darken($gray-200, 10%); }
	}
	.header-text {
		text-align: right;
		p { margin: 0; }
	}
}