/* _header.scss */

// HEADER BASICS
#header {
	padding: 2rem 0;
	.header-brand {
		display: inline-block;
		img { max-width: 100%; }
	}
	.header-search {
		.form-control { box-shadow: none !important; }
	}
	.header-text {
		text-align: right;
		> :last-child { margin: 0; }
	}
	a {
		color: inherit;
		&:hover, &:focus { text-decoration: none; }
	}
}

// HEADER LIGHT
#header.header-light {
	color: $gray-700;
	a {
		&:hover, &:focus { color: $primary; }
	}
	.form-control { border-color: darken($gray-200, 10%); }
}

// HEADER DARK
#header.header-dark {
	color: rgba($white, 0.75);
	a {
		&:hover, &:focus { color: $white; }
	}
	.form-control {
		color: $white; border-color: rgba($white, 0.1); background: rgba($white, 0.025);
		&::-moz-placeholder { color: rgba($white, 0.5); }
		&::-ms-input-placeholder { color: rgba($white, 0.5); }
		&::-webkit-input-placeholder { color: rgba($white, 0.5); }
	}
}