//* { box-shadow: 0 0 1px 2px rgba(0, 255, 0, 0.25) inset; }
//.gallery-columns-3 .gallery-item { width: 31%; float: left; text-align: center; border: 1px solid #ccc; padding: 10px; margin: 1%; }

@media (min-width: 1600px) {
  .container {
    max-width: 1580px;
  }
}

#main { margin: 50px auto; padding: 15px 0; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important; background: #fff; max-width: 1580px }
.mce-content-body { background: #fee; }
.alignnone { float: none; margin: 0 0 1rem 0; }
.alignleft { float: left; margin: 0 1rem 1rem 0; }
.alignright { float: right; margin: 0 0 1rem 1rem; }
.aligncenter { display: block; margin: 0 auto 1rem auto; }
img[class*="wp-image-"],
img[class*="attachment-"] { max-width: 100%; height: auto; }


.gallery { box-shadow: 0 0 10px #b31fcb; margin-bottom: 30px; }
.gallery.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery.gallery-columns-9 .gallery-item { max-width: 11.11%; }
.gallery				   .gallery-item { margin: 0; display: inline-block; }
.gallery div.gallery-icon { border: 1px solid #eee; padding: 10px; }
.gallery div.gallery-icon a { display: inline-block; }
.gallery div.gallery-icon img { max-width: 100%; height: auto; }
.gallery .figcaption.gallery-caption { font-size: 90%; color: #7a7daa; }

/* @TODO Bootstrap mixin */
figure.wp-caption { box-shadow: 0 0 10px #d24033; }
figure.wp-caption a { display: inline-block; }
figure.wp-caption figcaption.wp-caption-text { margin-top: 0.5rem; font-size: 90%; color: #aa7a7d; }
