/* _topbar.scss */

// TOPBAR BASICS
#topbar {
	padding: 0.5rem 0; font-size: 0.875rem;
	p, ul { margin: 0; }
	a {
		color: inherit;
		&:hover, &:focus { text-decoration: none; }
	}
}

// TOPBAR LIGHT
#topbar.topbar-light {
	color: $gray-700;
	a {
		&:hover, &:focus { color: $primary; }
	}
}

// TOPBAR DARK
#topbar.topbar-dark {
	color: rgba($white, 0.75);
	a {
		&:hover, &:focus { color: $white; }
	}
}

// TOPBAR Mobile Fix
@media (max-width: 767.98px) {
	#topbar * {
		text-align: center !important;
	}
}