/* TYPE.SCSS */
html { position: relative; min-height: 100%;  }
@include media-breakpoint-only(xs) {
	html { font-size: 14px; }
}
@include media-breakpoint-only(sm) {
	html { font-size: 14px; }
}
@include media-breakpoint-only(md) {
	html { font-size: 15px; }
}
@include media-breakpoint-only(lg) {
	html { font-size: 15px; }
}
@include media-breakpoint-only(xl) {
	html { font-size: 16px; }
}

body { font-family: $font-family-base; font-size: 1rem; font-weight: $font-weight-normal; line-height: $line-height-base; color: $at-font-color-base; background: $at-body-bg; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: $headings-font-family; line-height: $headings-line-height; color: $headings-color; margin: 0 0 $spacer 0; font-weight: $headings-font-weight; }
h1, .h1 { font-size: 2.500rem; }
h2, .h2 { font-size: 1.750rem; }
h3, .h3 { font-size: 1.250rem; }
h4, .h4 { font-size: 1.125rem; }
h5, .h5 { font-size: 1.000rem; }
h6, .h6 { font-size: 0.875rem; }
::selection { color: #fff; background: $primary; text-shadow: none; }
::-moz-selection { color: #fff; background: $primary; text-shadow: none; }
p, ul, ol, table, blockquote, table, .alert { margin: 0 0 $spacer 0; }
small { font-size: 0.875rem; color: $gray-600; }
blockquote {
	font-size: 1.125rem; line-height: 1.75; font-weight: 300; font-style: italic; background: $light; color: $gray-700; border: none; padding: $spacer $spacer * 2;
	footer {
		font-style: normal; font-size: 0.875rem; color: $gray-600;
		&:before { content: none; }
	}
}
p.empty { padding: 0; margin: 0; line-height: 0; }
a {
	color: $primary;
	&:hover, &:focus { color: darken($primary, 15%); }
}
@media (max-width: 767px) {
	h1, .h1 { font-size: 2.5rem; }
}