// VARIABLES: GRAYS
$white:       #ffffff;
$gray-100:    #f8f9fa;   // near white
$gray-200:    darken($gray-100, 5%);                            // border
$gray-300:    #dee2e6;
$gray-400:    darken($gray-300, 5%);
$gray-500:    darken($gray-300, 20%);
$gray-600:    #939ba2;   // gray-light
$gray-700:    #6c757d;   // gray
$gray-800:    #343a40;   // gray-dark
$gray-900:    darken($gray-800, 5%);
$black:       darken($gray-800, 10%);

// VARIABLES: COLORS
$primary:      #d21446;
$secondary:    #3282dc;
$success:      #5ab428;
$info:         #3282dc;
$warning:      #eaa91c;
$danger:       #d21446;
$light:        $gray-100;
$dark:         $gray-800;

// VARIABLES: OPTIONS
$enable-rounded:        true ;
$enable-shadows:        false ;
$enable-gradients:      false ;
$enable-transitions:    true ;

// VARIABLES: FONTS (BASE)
$font-family-base:      'Open Sans';
$font-weight-normal:    400;
$line-height-base:      1.75 ;
$at-font-color-base:    #c6b6d3;
$at-font-style-base:    normal;

// VARIABLES: FONTS (HEADLINES)
$headings-font-family:      'Open Sans';
$headings-font-weight:      700;
$headings-line-height:      1.25 ;
$headings-color:            #c255d6;
$at-headings-font-style:    normal;

// VARIABLES: CUSTOM
$at-body-bg:    #e9ecef ;
$box-shadow:	0 5px 15px rgba($gray-800, 0.15);
$transition:	all 0.25s; $border-radius:	5px;  