/* BUTTONS */

// BUTTONS
.btn { padding: 8px 24px; font-size: 1rem; line-height: 1.4; border-radius: 0; text-transform: uppercase; box-shadow: none; }
.btn-lg { padding: 12px 36px; font-size: 1.125rem; }
.btn {
	&:hover, &:focus, &:active {
		&:hover, &:focus { outline: none; box-shadow: none; }
	}
}

// BUTTONS: DEFAULT
@mixin btn($color) {
	color: #fff; background: $color; border-color: $color;
	&:hover, &:focus, &:active {
		&:hover, &:focus { color: #fff; background: darken($color, 5%); border-color: darken($color, 5%); }
	}
}
.btn-xcore,
.btn-blue { @include btn($primary); }
.btn-pink { @include btn($secondary); }
.btn-gray { @include btn($gray-dark); }


// BUTTONS: DEFAULT
@mixin btn-outline($color) {
	color: $color; background: #fff; border-color: $color;
	&:hover, &:focus, &:active {
		&:hover, &:focus { color: #fff; background: darken($color, 5%); border-color: darken($color, 5%); }
	}
}
.btn-blue-outline { @include btn($primary); }
.btn-pink-outline { @include btn($secondary); }
.btn-gray-outline { @include btn($gray-dark); }

// BUTTONS: SOCIAL
.btn-social { background: #fff; border-color: $border; color: $gray-light; }
.btn-social .fa { font-size: 1.25rem; margin-right: 5px; position: relative; top: 2px; }
@mixin btn-social($color) {
	&:hover, &:focus, &:active {
		&:hover, &:focus { color: #fff; background: darken($color, 5%); border-color: darken($color, 5%); }
	}
}
.btn-social-facebook { @include btn-social(#3b5998); }
.btn-social-twitter { @include btn-social(#55acee); }

// BUTTONS: WooCommerce
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	padding: 8px 24px; font-size: 1rem; line-height: 1.4; border-radius: 0; text-transform: uppercase; box-shadow: none; display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; background-image: none; border: 1px solid transparent;
	@include btn($primary);
	&:hover, &:focus, &:active {
		&:hover, &:focus { outline: none; box-shadow: none; }
	}
}