/* HEADER */

// HEADER
#header.pb50 { padding-bottom: 70px; }
#navigation { z-index: 999; position: relative; left: 0; right: 0; top: 0; }
#navigation.affix { position: fixed; }
#navigation.affix,
body:not(.teaser-behind-nav) #navigation,
#navigation .navbar-collapse.in { box-shadow: 0 1px 0 rgba($gray-dark, 0.1); background: #fff; }
#navigation .navbar { height: 70px; padding: 10px 0; border: none; border-radius: 0; margin: 0; }
#navigation .navbar-brand-logo { padding-top: 10px; padding-bottom: 10px; }
#navigation .navbar-brand-logo img { height: 30px; width: auto; position: absolute; }
#navigation .navbar-brand-logo img.logo-white { display: none; }
.teaser-behind-nav #navigation:not(.affix) .navbar-brand-logo img.logo-white { display: block; }
.teaser-behind-nav #navigation:not(.affix) .navbar-brand-logo img.logo-black { display: none; }
#navigation .navbar .navbar-nav > li > a { line-height: 20px; color: $gray-dark; text-transform: uppercase; font-size: 0.875rem; }
#navigation .navbar .navbar-nav > li:hover > a,
#navigation .navbar .navbar-nav > li > a:hover,
#navigation .navbar .navbar-nav > li > a:focus,
#navigation .navbar .navbar-nav > .current-menu-item > a,
#navigation .navbar .navbar-nav > .current-menu-anchestor > a,
#navigation .navbar .navbar-nav > .current_page_parent > a { color: $primary !important; background: none; text-decoration: none; }
#navigation .cart-button .fa { position: relative; }
#navigation .cart-button .fa:after { content: ""; display: inline-block; height: 10px; width: 10px; border-radius: 50%; background: $primary; position: absolute; top: -2px; right: -2px; }
@media (max-width: 767px) {
	#navigation .navbar .navbar-toggle { border-color: transparent; float: left; margin: 8px 8px 8px 15px; }
	#navigation .navbar .navbar-toggle.cart-button { color: $gray-dark; float: right; margin: 8px 15px 8px 8px; height: 34px; font-size: 22px; padding: 2px 10px; }
	#navigation .navbar .navbar-toggle:hover,
	#navigation .navbar .navbar-toggle:focus { border-color: transparent; background-color: transparent; }
	#navigation .navbar .navbar-toggle.cart-button:hover,
	#navigation .navbar .navbar-toggle.cart-button:focus { color: $primary !important; }
	#navigation .navbar .navbar-toggle .icon-bar { background-color: $gray-dark; }
	.teaser-behind-nav #navigation:not(.affix) .navbar .navbar-toggle .icon-bar { background-color: #fff; }
	.teaser-behind-nav #navigation:not(.affix) .navbar .navbar-toggle.cart-button { color: #fff; }
	#navigation .navbar .navbar-toggle:hover .icon-bar,
	#navigation .navbar .navbar-toggle:focus .icon-bar { background-color: $primary !important; }
	#navigation .navbar .navbar-collapse { background: #fff; }
	#navigation .navbar-brand-logo { left: 50%; position: absolute; width: 180px; transform: translateX(-50%); }
}
@media (min-width: 768px) {
	.teaser-behind-nav #navigation:not(.affix) .navbar .navbar-nav > li > a { color: #fff; }
	#navigation .navbar .navbar-nav > li > a.cart-button .fa { vertical-align: middle; font-size: 1.2rem; margin-right: 5px; }
}
@media (min-width: 992px) {
	#navigation .navbar .navbar-nav#menu-main-navigation { margin: 0; text-align: center; float: none !important; }
	#navigation .navbar .navbar-nav#menu-main-navigation > li { float: none; display: inline-block; }
}