/* SHOP */


// MY ACCOUNT
.box-account h2 { font-weight: 500; font-size: 1.125rem; text-transform: uppercase; }
.box-account a:not(.btn) { color: inherit; text-decoration: underline; }
.box-account a:not(.btn):hover,
.box-account a:not(.btn):focus { color: $primary; }

// TEMP
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals { width: 100%; }
.woocommerce .wc-register-fields{ margin-top: -400px; }
.woocommerce .woocommerce-NoticeGroup-checkout { display: none; }