/* SHORTCODES */

// ACCORDION
.panel-group { margin-bottom: 15px; }
.panel-group .panel { border-radius: 0; border: none; box-shadow: none; }
.panel-group .panel .panel-heading { color: #333; background-color: #fff; border-top: 1px solid #eee; font-weight: 600; padding: 0; }
.panel-group .panel .panel-heading .panel-title { padding: 15px 0; font-size: 1.125rem; display: block; position: relative; }
.panel-group .panel .panel-heading .panel-title:hover,
.panel-group .panel .panel-heading .panel-title:focus { color: inherit; text-decoration: none; }
.panel-group .panel .panel-heading .panel-title:after { content: "\e688"; position: absolute; top: 0.5rem; right: 0; font-size: 1.5rem; font-family: 'Pe-icon-7-stroke', sans-serif; }
.panel-group .panel .panel-heading .panel-title[aria-expanded="true"]:after { content: "\e682"; }
.panel-group .panel .panel-body { border: none !important; padding: 0; }
