/* TYPO */

// TYPO
html { position: relative; min-height: 100%; font-size: 14px; }
body { font-family: $font-text; font-size: 1rem; line-height: 1.5; font-weight: 400; color: $gray; background: #fff; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: $font-headline; font-weight: 300; color: $gray-dark; margin: 30px 0 15px 0; }
h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.25rem; }
h4, .h4, h5, .h5, h6, .h6 { font-size: 1.125rem; }
a { color: $primary; transition: $transition; }
p, ol, ul { margin: 0 0 15px 0; }
a:hover, a:focus { color: $primary; }
::selection { color: #fff; background: $primary; text-shadow: none; }
::-moz-selection { color: #fff; background: $primary; text-shadow: none; }
@media (min-width: 992px) and (max-width: 1199px) {
	html { font-size: 15px; }
}
@media (min-width: 1200px) {
	html { font-size: 16px; }
}

// TEXT
p.empty { padding: 0; margin: 0; line-height: 0; }
.text-gray { color: $gray; }
.text-pink { color: $secondary; }
.text-bold { font-weight: bold; }
