// FONTS
$font-headline:		'Open Sans', sans-serif !default;
$font-text:			'Open Sans', sans-serif !default;

// COLORS
$primary:			#2c9db6 !default;
$secondary:			#c4406f !default;
$success:			#89b30d !default;
$info:				#2c9db6 !default;
$warning:			#d0c300 !default;
$danger:			#d22828 !default;

// GRAYSCALE
$gray-dark:			#3b3b32 !default;
$gray:				#585850 !default;
$gray-light:		#989890 !default;
$border:			#ececec !default;
$near-white:		#f7f6f5 !default;

// MISC
$transition:		all 0.25s !default;